@font-face {
    font-family: 'lucida sans unicoderegular';
    src: url('../fonts/lsansuni-webfont.eot');
    src: url('../fonts/lsansuni-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lsansuni-webfont.woff2') format('woff2'),
         url('../fonts/lsansuni-webfont.woff') format('woff'),
         url('../fonts/lsansuni-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lucida sans unicoderegular';
    src: url('../fonts/lsansuni-webfont.eot');
    src: url('../fonts/lsansuni-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lsansuni-webfont.woff2') format('woff2'),
         url('../fonts/lsansuni-webfont.woff') format('woff'),
         url('../fonts/lsansuni-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Lucida';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
 font-family: Lucida, Arial, sans-serif;
}

.wrapper{
	width: 910px;
	margin: 0 auto;
	margin-top: 18px;
}
header{
	width: 910px;
	height:35px;
	margin-top:20px;
	margin: 0 auto;
}
.contacts{
	width: 300px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 6px;
	position: relative;
	font-size: 16px;
	color: #5E696D;
}
.contacts p{
	margin-left: 27px;
	position: absolute;
	bottom: 5px;
}
.author{
	width: 495px;
	height: 25px;
	float: left;
	background: linear-gradient(to top, #0C3357, #1E6383);
	border-radius: 3px;	
	box-shadow: 0px 2px 22px -2px rgba(128,120,128,1);
	position: relative;
	margin-left: 7px;
	margin-bottom: 5px;
}
.author img{
	position: absolute;
	bottom: -1px;
	left: 7px;
}
.reg {
	width: 70px;
	clear: both;
	font-size: 10px;
	color: #fff;
	text-decoration: none;
	position: absolute;
	right: 120px;
	bottom: 8px;
	letter-spacing: 0.5px;
}
.remember{
	color: #bfbfbf;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	line-height: 14px;
	position: absolute;
	right: 10px;
	bottom: 6px;
	letter-spacing: 0.5px;
}
input::-webkit-input-placeholder {
	padding-left: 5px;
	font-size: 11px;
}
#login{
	width: 110px;
	height: 12px;
	position: absolute;
	bottom: 4px;
	left: 25px;
}
#password{
	width: 110px;
	height: 12px;
	position: absolute;
	bottom: 4px;
	right: 235px;
}
#submit{
	background: none;
	border: none;
	font-size: 11px;
	color: #fff;
	position: absolute;
	right:188px;
	bottom: 7px;
}
.coner_icon{
	width: 74px;
	height: 20px;
	float: right;
	border: 1px solid silver;
	border-radius: 15px;
	box-shadow:  10px 10px 26px -10px rgba(0,0,0,0.75);
	margin-right: 7px;
	position: relative;
}
.icon1{
	position: absolute;
	left: 5px;
}
.icon2{
	position: absolute;
	left: 23px;
}
.icon3{
	position: absolute;
	left: 45px;
}
.baner{
	width: 910px;
}
.top-menu{
	width: 910px;
	height: 32px;
	background: linear-gradient(to top, #020202, #505860);
	box-shadow:  10px 10px 26px -10px rgba(0,0,0,0.75);
	border: 1px solid #3C4367;
	border-radius: 5px;
	margin-top: 3px;
	margin-bottom: 12px;
}
nav{
	float: right;
	width: 630px;
	margin-right: 225px;
}
nav ul li{
	float: left;
	line-height: 32px;
}	
nav ul li a {
  display: block;
  /*margin: 0 7px;*/
  padding: 0 15px;
  font-size: 14px;
  color: #b1bcc0;
  text-decoration: none;
  position: relative;
}
.first{
	left: 75px;
}
.second{
	left: 67px;
}
.third{
left: 65px;
}
.fourth{
	left: 64px;
}
.fifth{
	  left: 58px;
}
nav ul li a:hover{
	background:linear-gradient(to top, #092036, #1F6787); 
	color:#fff;
	border-radius: 20px;
}
.basket {
  float: right;
  width: 260px;
  margin-right: 15px;
  font-family: arial, tahoma;
}
.quantity{
  float: left;
  position: relative;;
}
.quantity img{
	position: absolute;
	top: 7px;
	left: 47px;
}
.quantity p{
  color: #929B9F;
  font-size: 11px;
  position: absolute;
  top: 10px;
  left: 72px;
 }
.quantity span{
  color: #449bd4;
  font-size: 12px;
  position: absolute;
}
.sum{
	float: right;
	position: relative;
}
.sum p{
  color: #929B9F;
  font-size: 11px;
  display: inline-block;
  position: absolute;
  right: 63px;
  top: 10px;
}
.sum span{
	color: #449bd4;
  font-size: 12px;
	position: absolute;
	top: 10px;
	right: 2px;
}
.search{
	width:910px;
	height: 133px;
	margin-bottom: 17px;
}
.f1{
	width: 410px;
	height: 133px;
	float: left;
	border: 1px solid silver;
	border-radius: 20px;
	box-shadow:  10px 10px 26px -10px rgba(0,0,0,0.75);
	margin-left: 5px;
}
.f2{
	width: 190px;
	height: 133px;
	float: left;
	border: 1px solid silver;
	border-radius: 20px;
	box-shadow:  10px 10px 26px -10px rgba(0,0,0,0.75);
	margin-left: 15px;
}
.f3{
	width: 265px;
	height: 133px;
	float: left;
	border: 1px solid silver;
	border-radius: 20px;
	box-shadow:  10px 10px 26px -10px rgba(0,0,0,0.75);
	margin-left: 15px;
}

.logos{
	clear: both;
	float: left;
	margin: 0 auto;
	margin: 34px 0 57px 117px;
	position: relative;
}
.logo1{
	position: absolute;
	left: 605px;
	top: 9px;
}
.logo2{
	position: absolute;
	left: 205px;
	top: 9px;
}
.logo3{
	position: absolute;
	left: 527px;
	top: 9px;
}
.logo4{
	position: absolute;
	left: 295px;
	top: 7px;
}
.logo5{
	position: absolute;
	left: 370px;
	top: 9px;
}
.logo6{
	position: absolute;
	left: 460px;
	top: 4px;
}
.logo7{
	position: absolute;
	left: 95px;
	top: 9px;
}
.logo8{
	position: absolute;
	top: 9px;
}
footer{
	width: 910px;
	height: 100px;
	clear: both;
	background-color: #213A4D;
	font-family: arial;
}
.menu{
	width: 350px;
	overflow: hidden;
	margin: 0 auto;
	margin: 0 253px 0 297px;
	padding: 12px 5px 0 5px;
}
.menu ul li {
	float: left;
	padding: 0 12px;
	border-right: 1px solid #BEC6C9; 
}
.menu ul li a{
	display: block;
	text-decoration: none;
	font-size: 12px;
	color: #fff;
}
.menu ul li a:hover{
color: #52ABCB;
}
.menu ul li:last-child{
	border: none;
}
footer p{
	width: 200px;
	margin: 0 auto;
	margin: 15px 333px 0 377px;
	font-size: 10px;
	color: #7F4740;
}
main {
  width: 519px;
  height: 605px;
  float: left;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 7px 7px 7px 7px;
  background: #acbac1;
  background: linear-gradient(to top, #93a7b0, #e5e7e8);
  padding-left: 6px;
  padding-top: 8px;
  padding-bottom: 13px;
}

.tovar_box {
  width: 168px;
  height: 190px;
  padding: 0;
  margin: 7px 0 6px 0;
  float: left;
  text-align: center;
  line-height: 0.9;
  box-sizing: border-box;

}


.tovar_name1 {
  padding-left: 5px;
  color:#206988;
  font-size: 16px;
  font-family: Lucida;
  font-weight: bold;	
}

.tovar_name2 {
  letter-spacing: -0.03em;
  padding-left: 5px;
  color:#1f2528;
  font-family: Lucida;
  font-size: 14px;	
}


.pic_box {
  width: 136px;
  height: 120px;
  background: #fff;
  border: 1px solid #b1b9bc;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 0 auto;
  padding-top: 6px;
  margin-bottom: 4px;

}

#check3{
  letter-spacing: -0.03em;
  padding: 0;
}


.tovar_price {
  padding-top: 1px;
  padding-left: 15px;
  color:#114165;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;	
 }

.tovar_price  span{
  font-size: 13px;
}


/*----------------------------- SIDEBARS------------------------------*/


section.brands {
  float: right;
  width: 184px;
  background: #fff;
  text-align: left;
}

section.catalog{
  float: left;
  width: 184px;
  background: #fff;
  margin-right: 9px;
  text-align: left;
}


section.catalog ul {
  position: absolute;
  top: 28px;
  left: 36px;
}



section.catalog ul li a {
  font-size: 13px;
  line-height: 25px;
  color: #465961;
  text-decoration: none;
}



section.catalog ul li a:before  {
  content: "";
  display:block;
  float: left;
  margin: 9px 6px 0 0;
  width: 4px;
  height: 4px;
  border: 1px solid #465961;
  border-radius: 2px;	
}



section.catalog ul li a:hover {
  color: #083560;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}



section.catalog ul li a:hover:before {
  content: "";
  display:block;
  float: left;
  margin: 7px 7px 0 0;
  width: 4px;
  height: 4px;
  border: 2px solid #083560;
  border-radius: 4px;	
}


section.catalog h2, section.brands h2  {
  display: block;
  width: 178px;
  height: 24px;
  padding-right: 4px;
  border: 1px solid #8b979c;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius:      15px 15px 15px 15px;
  -webkit-box-shadow:  2px 3px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 3px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 3px 3px 0px rgba(50, 50, 50, 0.75);
  font-family: Lucida;
  line-height: 27px;
  text-transform: uppercase;
  font-size: 14px;
  color: #1d6181;
  letter-spacing: -0.05em;
}


section.brands h2 {
  width: 175px;
  line-height: 24px;
  letter-spacing: 0;
}

.h2c_icon {
  float: left;
  margin: 3px;
}

.h2b_icon {
  float: left;
  margin: 2px 5px 2px 2px;
}

.ancor_l{
  position: relative;
  height: 113px;
}

.catalog_icon {
  position: absolute;
  top: 2px;
  left: 7px;
}

section.catalog h3, section.brands h3 {
  width: 118px;
  height: 26px;
  margin: 15px 0 15px 2px;
  padding-left: 30px;
  border: 1px solid #8b979c;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 15px 15px 15px 15px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  color: #1d6181;
}


.ancor_r{
  position: relative;
  height: 98px;
}


section.brands h3 {
  margin-left: 12px;
  width: 106px;
}




.brands_icon {
  position: absolute;
  top: 2px;
  left: 16px;
}





section.brands form {
  position: absolute;
  top: 31px;
  left: 22px;
}


section.brands label {
  display: block;
  font-size: 13px;
  line-height: 25px;
  color: #465961;
}

.checkbox {
  vertical-align: top;
  margin: 8px 16px 0 0;
  width: 10px;
  height: 10px;
}


.button { 
 width: 63px;
 height: 16px;
 margin-top: 94px;
 margin-left: 22px;
 border-top: 1px solid #7a95a1; 
 background: #13486b; 
 background: linear-gradient(to top, #0c3357, #1f6787);
 padding: 5px 10px;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px; 
 border-radius: 15px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 box-shadow: 0 1px 2px rgba(0,0,0,.2);
 text-shadow: rgba(0,0,0,.4) 0 1px 0;
 color: #fff;
 text-transform: uppercase;
 text-align: center;
 font-family: Arial, sans-serif;
 font-size: 11px;
 line-height: 15px; 
 text-decoration: none;
} 


.button:hover {
 background: #00678e;
 background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
 background: -moz-linear-gradient(top, #0095cc, #00678e);
 background: -ms-linear-gradient(top, #0095cc, #00678e);
 background: -o-linear-gradient(top, #0095cc, #00678e);
} 


.button:active {
 border-top-color: #00adee;
 background: #00adee; 
}